@import "../css/mfn-icons.css";
@import "../css/css/pretty.css";

/* Reset & Basics */

html, body, div, span, h2, h3, h4, h5, p, a, img, i, ul, li, footer, header, nav {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline
}
footer, header, nav {
	display: block
}
body {
	line-height: 1
}
ul {
	list-style: none
}
/* Basic Styles */

html {
	height: 100%
}
body {
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%
}
/* Typography */

h2, h3, h4, h5 {
	margin-bottom: 15px
}
p {
	margin: 0 0 15px
}
i {
	font-style: italic
}
/* Code Hightlighter */
/* Links */

a, a:visited, a:focus {
	text-decoration: none;
	outline: 0
}
a:hover {
	text-decoration: underline
}
/* Images */

img.scale-with-grid, #Content img {
	max-width: 100%;
	height: auto
}
/* button */
.button {
	display: inline-block;
	position: relative;
	padding: 10px 20px;
	font-size: inherit;
	overflow: hidden;
	text-decoration: none!important;
	cursor: pointer;
	border-style: solid;
	transition: color .1s ease-in-out, background-color .1s ease-in-out, border-color .1s ease-in-out
}
.footer_button {
	display: inline-block;
	position: relative;
	overflow: hidden;
	width: 42px;
	height: 42px;
	line-height: 42px!important;
	font-size: 20px!important;
	margin: 0;
	text-align: center;
	text-decoration: none!important;
	font-family: inherit!important;
	transition: color .1s ease-in-out, background-color .1s ease-in-out, border-color .1s ease-in-out
}

/* button | custom */

.button-custom .button .button_label {
	padding: 0
}
.button-custom .footer_button {
	border-style: solid;
	padding: 0 !important
}

/* Icons */

@font-face {
	font-family: 'mfn-icons';
	src: url(../fonts/mfn/icons.eot?31690507);
	src: url(../fonts/mfn/icons.eot?31690507#iefix) format("embedded-opentype"), url(../fonts/mfn/icons.woff?31690507) format("woff"), url(../fonts/mfn/icons.ttf?31690507) format("truetype"), url(../fonts/mfn/icons.svg?31690507#mfn) format("svg");
	font-weight: 400;
	font-style: normal;
	font-display: swap
}
[class^="icon-"]:before {
	font-family: "mfn-icons";
	font-style: normal;
	font-weight: 400;
	display: inline-block;
	text-decoration: none!important;
	width: 1em;
	margin-right: .2em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
	margin-left: .2em
}
.icon-up-open-big:before {
	content: '\e946'
}

/* Visual Composer | Frontend Editor */
#Wrapper {
	max-width: 1240px;
	margin: 0 auto;
	overflow: hidden
}
.layout-full-width {
	padding: 0
}
.layout-full-width #Wrapper {
	max-width: 100%!important;
	width: 100%!important;
	margin: 0!important
}
#Content {
	width: 100%;
	padding-top: 30px
}
.section {
	position: relative
}
.container {
	margin: 0 auto;
	position: relative
}
.container:after {
	clear: both;
	content: " ";
	display: block;
	height: 0;
	visibility: hidden
}

/* .column */

/* Column | Align */
.column_attr.align_center {
	text-align: center
}
/* Extra Content */
/* Clearing */

.container:after {
	content: "\0020";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden
}
.clearfix:before, .clearfix:after {
	content: '\0020';
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0
}
.clearfix:after {
	clear: both
}

#back_to_top {
	float: right;
	margin: -9px 0 0
}

/* Dark ------------------------------------------------------------------------------ */

/* images */
.image_frame {
	display: block;
	overflow: hidden;
	margin: 0;
	border-style: solid;
	border-width: 0;
	max-width: 100%;
	line-height: 0;
	box-sizing: border-box
}
.image_frame .image_wrapper {
	box-sizing: border-box
}
.image_frame.no_border {
	border-width: 0
}
/* image_frame */

.image_frame .image_wrapper {
	position: relative;
	overflow: hidden
}
.image_frame .image_wrapper img:not(.ls-l) {
	position: relative;
	top: 0;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1)
}
.image_frame:hover .image_wrapper img {
	top: -15px
}
.image_frame.no_link:hover .image_wrapper img {
	top: 0
}

/* alignment */
.aligncenter {
	text-align: center;
	margin: 0 auto;
	display: block
}
.aligncenter img {
	display: inline
}
/* animations */

.image_frame .image_wrapper img {
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out
}

/* if-overlay modern */

/* divider */

hr {
	display: block;
	border: none;
	outline: none;
	height: 1px;
	width: 100%;
	margin: 0 auto 15px;
	clear: both
}
hr {
	margin: 0 auto 15px;
	clear: both
}
hr.no_line {
	background: none;
	color: transparent;
}

/* section-decoration | height:100px - fallback */

.section .section-decoration {
	width: 100%;
	height: 100px;
	position: absolute;
	left: 0;
	background-repeat: repeat-x;
	z-index: 2
}
.section .section-decoration.top {
	top: 0;
	background-position: center top;
}
.section .section-decoration.bottom {
	bottom: 0;
	background-position: center bottom;
}


ul {
	list-style: none outside
}


/* Ultrawide ---------- */
.mcb-section.bg-cover {
	background-size: cover
}

::-moz-selection {
	color: #fff
}
::selection {
	color: #fff
}

hr {
	background-color: rgba(0, 0, 0, .08);
	color: rgba(0, 0, 0, .08)
}

.image_frame {
	border-color: #f8f8f8
}
.image_frame .image_wrapper {
	border-color: #e2e2e2
}
